# Pip requirements file for base packages for a Python env.


# Base dependencies (must be consistent with minimum-constraints.txt)

pip>=21.2.4
setuptools>=59.6.0; python_version == '3.6'
setuptools>=65.5.1; python_version == '3.7'
setuptools>=70.0.0; python_version >= '3.8'
wheel>=0.30.0; python_version == '3.6'
wheel>=0.38.1; python_version >= '3.7'
