# Pip requirements file for base packages for a Python env.


# Base dependencies (must be consistent with minimum-constraints.txt)

pip>=21.2.4
setuptools>=39.0.1; python_version == '3.6'
setuptools>=40.6.0; python_version == '3.7'
setuptools>=41.5.0; python_version >= '3.8' and python_version <= '3.9'
setuptools>=49.0.0; python_version >= '3.10'
wheel>=0.30.0; python_version == '3.6'
wheel>=0.32.0; python_version == '3.7'
wheel>=0.33.5; python_version >= '3.8'
