# Pip requirements file for zhmccli runtime dependencies.
#
# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

# Make sure that the package versions in minimum-constraints.txt are also
# the minimum versions required in requirements.txt and dev-requirements.txt.

# Direct dependencies (except pip, setuptools, wheel):

# zhmcclient @ git+https://github.com/zhmcclient/python-zhmcclient.git@stable_1.13
zhmcclient>=1.13.4

# safety 2.2.0 depends on click>=8.0.2
click>=8.0.2

# click-repl 0.2 is needed for compatibility with Click 8.0 (see click-repl issue #819)
click-repl>=0.2

# click-spinner 0.1.10 is needed to support Python 3.12
click-spinner>=0.1.6; python_version <= '3.11'
click-spinner>=0.1.10; python_version >= '3.12'
progressbar2>=3.12.0
tabulate>=0.8.2; python_version <= '3.9'
tabulate>=0.8.8; python_version >= '3.10'
python-dateutil>=2.8.2
click-option-group>=0.5.6

prompt-toolkit>=3.0.13

# PyYAML 5.3.x has wheel archives for Python 2.7, 3.5 - 3.9
# PyYAML 5.4.x has wheel archives for Python 2.7, 3.6 - 3.9
# PyYAML 6.0.0 has wheel archives for Python 3.6 - 3.11
# PyYAML 6.0.1 has wheel archives for Python 3.6 - 3.12
# PyYAML versions without wheel archives fail install since Cython 3 was
#   released, see https://github.com/yaml/pyyaml/issues/724.
PyYAML>=5.3.1,!=5.4.0,!=5.4.1; python_version <= '3.11'
PyYAML>=5.3.1,!=5.4.0,!=5.4.1,!=6.0.0; python_version >= '3.12'

jsonschema>=3.0.1
yamlloader>=0.5.5

urllib3>=1.26.18


# Indirect dependencies that need to be adjusted for some reason:

# pyrsistent is used by jsonschema 3.x (no longer by jsonschema 4.x)
pyrsistent>=0.15.1
